h1{
    margin-top: 20px;
    margin-left: 50px;
    color: #455087;
}
.card{
    width:300px;
    height:30px;
    margin-top: 40px;
    margin-left: 40px;

}
.card-body{
    box-shadow: 1px 1px 10px;
}
.card-img-top{
    box-shadow: 1px 1px 10px;


}