header{
    background-color: #090f2e;
    color: #ffffff;
    padding: 10px;
    font-size: 20px;
    height: 70px;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
}

.logo{
    font-family: sans-serif;
    font-weight: bold;
    margin-left:50px;
   
}

a{
   
    text-decoration: none;
    margin-left: 50px;
}
.btn{
   background-color:aqua ;
}
.bi3{
 
    margin-right: 50px;
    margin-left: 35px;

    color: #ffffff;

}
.bi{
    margin-left: 35px;
    color: #ffffff;

}

