<!-- <div class="container">
    <div class="row">
        <form #form="ngForm" (ngSubmit)="handleOrderHistory(form);">
            <div>
                <label for="totalAmount">Total Amount</label>
                <input ngModel #totalAmount="ngModel" type="text" name="totalAmount" class="form-control">
            </div>
            <div>
                <label for="orderDate">Order Date</label>
                <input ngModel #orderDate="ngModel" type="text" name="orderDate" class="form-control">
            </div>
            <div>
                <label for="deliveryDate">Delivery Date</label>
                <input ngModel #deliveryDate="ngModel" type="text" name="deliveryDate" class="form-control">
            </div>
            <div>
                <label for="status">Status</label>
                <input ngModel #status="ngModel" type="text" name="status" class="form-control">
            </div>
        </form>
    </div>
</div> -->
<div>
    <table>
        <tr>
            <th>Total Amount</th>
            <th>Order Date</th>
            <th>Delivery Date</th>
            <th>Status</th>
        </tr>
        <tr *ngFor="let order of orders">
            <td>{{order.totalAmount}}</td>
            <td>{{order.orderDate}}</td>
            <td>{{order.deliveryDate}}</td>
            <td>{{order.status}}</td>
        </tr>
    </table>
</div>